<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
</head>
<body>
    <header>
        <h1>Playlist Log</h1>
    </header>
    
    <main>
        <h2>{{ main_heading }}</h2>
        <p>{{ main_content }}</p>
        <form action="/" method="GET">
            <label for="playlist_id">Enter Playlist ID:</label>
            <input type="text" id="playlist_id" name="playlist_id" value="">
            <button type="submit" name="action" value="submit">Submit</button>
            <button type="submit" name="action" value="remove">Remove Playlist</button>
        </form>
        Registered Playlists <br>
        {% for playlist in playlists %}
            <div onclick="
                document.getElementById('playlist_id').value = '{{playlist.playlistId}}';
                //alert();
                //document.getElementById('playlist_id').textContent = 'Playlist ID: ';
                //alert(document.getElementById('playlist_id').textContent);
                //alert('after');
            ">
                {{ loop.index }}. {{ playlist.title ~ ' ID: ' ~ playlist.playlistId }}<br>
            </div>
        {% endfor %}
    </main>
    <footer>
    </footer>
</body>
</html>
